
body>table{
	width: 100%;
}

td{
	vertical-align: top;
}

.header{
	background-color: #99ffff;
}

.left, .right{
	background-color: #eee;
	width: 20%;
}

.left > *, .right > *{
	width: 100%;
}

.footer{
	background-color: #ccc;
}

.hider{
	display: none;
}

.hider:not(:checked)+*{
	display: none;
}

img{
	max-width: 500px;
	max-height: 500px;
}
